@font-face {
    font-family: 'lato';
    src: url('font/lato-regular.eot');
    src: url('font/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('font/lato-regular.woff2') format('woff2'),
         url('font/lato-regular.woff') format('woff'),
         url('font/lato-regular.ttf') format('truetype'),
         url('font/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$purple : #7400b8;
$purple_heart : #6930c3;
$indigo : #5e60ce;
$aquamarine_blue : #64dfdf;
$black_squeeze : #edf6f9;

body {
    background-color: $purple;
    font-family: 'Lato', sans-serif;
}

@import 'styles/Errors.scss';
@import 'styles/Summary.scss';